.wrapper {
  position: relative;

  &.isEditing {
    background: rgba(white, .6);
    position: fixed;
    z-index: 1500;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.note {
  position: relative;
  transition: box-shadow .1s ease-out;

  &:hover {
    box-shadow: 0 1px 10px rgba(#000, 0.4);

    .checkWrapper, .pinWrapper {
      opacity: 1;
    }
  }

  &.isSelected {
    box-shadow: 0 0 0 4px #00D1B2;
    transition: none;
  }

  .isEditing & {
    width: 36rem;
    box-shadow: 0 2px 15px rgba(#000, 0.2)
  }

  .inner {
    padding-bottom: 45px;
  }
}

.content {
  pointer-events: none;

  .isEditing & {
    pointer-events: auto;
  }
}

$check-size: 24px;
.checkWrapper {
  position: absolute;
  left: -$check-size / 2;
  top: -$check-size / 2;
  z-index: 120;
  opacity: 0;
  transition: opacity .2s ease-out;

  .isSelected & {
    opacity: 1;
  }
}

.check {
  font-size: $check-size / 2;
  background: #fff;
  box-shadow: 0 1px 4px rgba(#000, 0.2);
  width: $check-size;
  height: $check-size;
  text-align: center;
  line-height: $check-size;
  border-radius: 50%;
  border: 0;
  outline: 0;
  cursor: pointer;

  .isSelected & {
    color: #00D1B2;
  }
}

.pinWrapper {
  position: absolute;
  z-index: 110;
  right: -3px;
  top: -4px;
  opacity: 0;
  transition: opacity .1s ease-out;

  .isSelected & {
    opacity: 1;
  }

  .isPinned & {
    opacity: 1;
  }

  * {
    font-size: .9rem;
  }
}

.titleWrapper {
  margin-top: -.4rem;
  margin-bottom: .6rem;
}

.editTitle, .editContent {

  input[type=text], textarea {
    width: 100%;
    font-size: inherit;
    border: 0;
    outline: 0;
  }

  input[type=text] {
    font-weight: bold;
    padding-right: 1.4rem;
  }

  textarea {
    resize: none;
    overflow: hidden;
    min-height: 50px;
  }
}

$padPreview: 5px;
$padFull: 20px;
.toolbar {
  position: absolute;
  bottom: $padPreview;
  right: $padPreview;
  left: $padPreview;

  .isEditing & {
    bottom: $padFull;
    right: $padFull;
    left: $padFull;
  }
}

.otherButtonWrapper {
  position: relative;
}

.otherMenuWrapper {
  position: absolute;
  z-index: 100;
  top: 100%;
  left: 100%;
  margin-top: 10px;
  margin-left: -40px;
}

.otherMenu {
  padding: .3rem 0 !important;
}

.otherMenuItem {
  width: 160px;
  font-size: .9rem;
  padding: .6rem .9rem;
  background: transparent;
  cursor: pointer;
  transition: background .1s ease-out;

  &:hover {
    background: rgba(black, .08);
  }
}
