.wrapper {
  position: relative;

  &.isEditing {
    background: rgba(white, .6);
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.overlayWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.note {
  position: relative;
  transition: box-shadow .1s ease-out;

  &:hover {
    box-shadow: 0 1px 10px rgba(#000, 0.4);
  }

  &.isSelected {
    box-shadow: 0 0 0 4px #00D1B2;
    transition: none;
  }

  &.isPinned {
    opacity: 1;
  }

  .isEditing & {
    width: 36rem;
    box-shadow: 0 2px 15px rgba(#000, 0.2)
  }

  .inner {
    padding-bottom: 45px;
  }
}

.content {
  position: relative;
  z-index: 1000;
  pointer-events: none;

  .isEditing & {
    padding-top: 5px;
    max-height: 70vh;
    pointer-events: auto;
  }
}

$titleMargin: -.4rem 0 .6rem;
.titleWrapper {
  margin: $titleMargin;
}

.titleInputWrapper {
  margin: $titleMargin;
  padding-bottom: .5rem;

  input {
    font-size: 26px;
    font-weight: normal;
  }
}

.contentInputWrapper {
  max-height: 55vh;
  margin-bottom: .8rem;
  overflow-y: scroll;
}

.editForm {
  input[type=text], textarea {
    background: 0;
  }
}

.highlightText {
  background: yellow;
}
