.titleInputWrapper {
  display: flex;
}

.tagsWrapper {
  margin-top: 1rem;
}

.tagItem:not(:last-child) {
  margin-bottom: .6rem !important;
}

.editInputWrapper {
  width: 150px;
  font-size: inherit;
  color: inherit;
}
