{
  "extends": [
    'react-app'
  ],
  plugins: [
    'import',
    'react',
  ],
  "settings": {
    "react": {
      "version": "^16.4.2"
    }
  },
  "rules": {
    # native rules
    "array-callback-return": 1,
    # "arrow-body-style": [2, "as-needed"],
    "arrow-parens": [2, "always"],
    "arrow-spacing": 2,
    "block-spacing": 1,
    "brace-style": 2,
    "camelcase": 2,
    "comma-dangle": [1, "always-multiline"],
    "comma-spacing": 1,
    "comma-style": 2,
    "computed-property-spacing": 1,
    "dot-notation": 2,
    "eqeqeq": 2,
    "func-call-spacing": 1,
    "func-style": [2, "expression", { "allowArrowFunctions": true }],
    "id-length": 2,
    "key-spacing": 1,
    "keyword-spacing": [1, { "before": true, "overrides": { "function": { "before": false } } }],
    "max-len": [2, {
      "code": 80,
      "ignoreStrings": true,
      "ignoreTemplateLiterals": true,
      "ignorePattern": "^import"
    }],
    # "new-cap": 2,
    "newline-per-chained-call": 1,
    "no-array-constructor": 1,
    "no-case-declarations": 2,
    "no-const-assign": 2,
    "no-dupe-class-members": 2,
    "no-duplicate-imports": 2,
    "no-else-return": [2, { allowElseIf: false }],
    "no-eval": 2,
    "no-iterator": 2,
    "no-mixed-operators": 2,
    "no-multi-assign": 2,
    "no-multiple-empty-lines": 1,
    "no-nested-ternary": 2,
    "no-new-func": 2,
    "no-new-object": 1,
    "no-new-wrappers": 2,
    "no-param-reassign": 1,
    "no-plusplus": 2,
    "no-prototype-builtins": 2,
    "no-restricted-properties": [2, {
      "object": "Math",
      "property": "pow",
      "message": "Use exponentiation operator ** when calculating exponentiations."
    }],
    "no-restricted-syntax": [2, "ForStatement", "ForInStatement"],
    "no-trailing-spaces": 1,
    "no-undef": 2,
    "no-unneeded-ternary": 2,
    "no-unused-vars": [1, { "vars": "local" }],
    "no-useless-escape": 1,
    "no-var": 2,
    "no-whitespace-before-property": 2,
    "nonblock-statement-body-position": [2, "beside"],
    "object-curly-spacing": [1, "always"],
    "object-shorthand": 1,
    "one-var": [2, "never"],
    # "operator-linebreak": [2, "none", "overrides": { "?": "ignore", ":": "ignore" }],
    "padded-blocks": [1, "never"],
    "prefer-arrow-callback": 2,
    "prefer-const": [1, {
      "destructuring": "any",
      "ignoreReadBeforeAssign": false
    }],
    "prefer-rest-params": 1,
    "prefer-spread": 1,
    "prefer-template": 2,
    "quote-props": [1, "as-needed"],
    "quotes": [1, "single"],
    "radix": 2,
    "semi": 1,
    "space-before-blocks": 1,
    "space-before-function-paren": [1, "always"],
    "space-in-parens": 1,
    "space-infix-ops": [1, {"int32Hint": false}],
    "spaced-comment": [1, "always"],
    "template-curly-spacing": [2, "never"],

    # import-plugin
    "import/default": 2,
    "import/export": 2,
    # "import/exports-last": 2,
    "import/extensions": 2,
    # "import/first": [2, "absolute-first"],
    # "import/max-dependencies": [2, { "max": 10 }],
    "import/named": 2,
    "import/namespace": 2,
    "import/newline-after-import": [2, { "count": 2 }],
    "import/no-absolute-path": 2,
    "import/no-anonymous-default-export": 2,
    # "import/no-cycle": 2,
    "import/no-duplicates": 2,
    "import/no-extraneous-dependencies": 2,
    "import/no-named-as-default-member": 2,
    "import/no-named-as-default": 2,
    "import/no-unresolved": 2,
    "import/no-useless-path-segments": 2,
    "import/no-webpack-loader-syntax": 2,
    # "import/order": 2,

    # react-plugin
    "react/boolean-prop-naming": [
      1, { "rule": "^(is|has|in|if|should|can|will)[A-Z]([A-Za-z0-9]?)+" }
    ],
    "react/button-has-type": 2,
    "react/default-props-match-prop-types": 1,
    # "react/destructuring-assignment": [1, "always"],
    "react/jsx-boolean-value": 1,
    "react/jsx-child-element-spacing": 2,
    "react/jsx-closing-bracket-location": 1,
    "react/jsx-closing-tag-location": 1,
    "react/jsx-curly-spacing": [
      1, { "when": "never", "children": { "when": "never" } }
    ],
    "react/jsx-equals-spacing": [2, "never"],
    "react/jsx-handler-names": 1,
    "react/jsx-no-comment-textnodes": 2,
    "react/jsx-no-duplicate-props": 2,
    "react/jsx-no-literals": 2,
    "react/jsx-no-target-blank": 2,
    "react/jsx-no-undef": 2,
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
    "react/no-array-index-key": 2,
    "react/no-children-prop": 1,
    "react/no-danger-with-children": 2,
    "react/no-danger": 1,
    "react/no-deprecated": 2,
    "react/no-did-mount-set-state": 2,
    "react/no-direct-mutation-state": 2,
    "react/no-find-dom-node": 2,
    "react/no-is-mounted": 2,
    "react/no-multi-comp": [2, { "ignoreStateless": true }],
    "react/no-render-return-value": 2,
    "react/no-string-refs": 2,
    "react/no-this-in-sfc": 2,
    "react/no-typos": 2,
    "react/no-unescaped-entities": 2,
    "react/no-unused-state": 1,
    "react/prefer-stateless-function": 1,
    "react/prop-types": 1,
    "react/react-in-jsx-scope": 2,
    # "react/require-default-props": 1,
    "react/require-render-return": 1,
    "react/self-closing-comp": 1,
    "react/sort-comp": [1, {
      "order": [
        "static-methods",
        "lifecycle",
        "/^(on|handle).+$/",
        "/^(get|set).+$/",
        "/^(is|has).+$/",
        "everything-else",
        "render"
      ],
      "groups": {
        "lifecycle": [
          "state",
          "constructor",
          "getDefaultProps",
          "getInitialState",
          "getChildContext",
          "getDerivedStateFromProps",
          "componentWillMount",
          "UNSAFE_componentWillMount",
          "componentDidMount",
          "componentWillReceiveProps",
          "UNSAFE_componentWillReceiveProps",
          "shouldComponentUpdate",
          "componentWillUpdate",
          "UNSAFE_componentWillUpdate",
          "getSnapshotBeforeUpdate",
          "componentDidUpdate",
          "componentDidCatch",
          "componentWillUnmount"
        ],
        "rendering": [ "/^render.+$/", "render" ]
      }
    }],
    "react/style-prop-object": 2,
    "react/void-dom-elements-no-children": 2,
  }
}
