.content {
  position: relative;
  left: 0;
  padding-top: 8rem;
  transition: left .2s ease-out;

  &.isMainMenuActive {
    left: 8rem;
  }
}

.notifications {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 2000;
  padding: 1.2rem;
}
