.content {
  position: relative;
  left: 0;
  padding-top: 8rem;
  transition: left .2s ease-out;

  &.mainMenuActive {
    left: 8rem;
  }
}

.notificationsWrapper {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1000;
  padding: 1.2rem;
}
