.textInput {
  font-size: inherit;
  outline: 0;
  display: block;
}

.isFullwidth {
  width: 100%;
}

.isSeamless {
  border: 0;
}

.isRound {
  border-radius: 50%;
}

.isBoldText {
  font-weight: bold;
}
