$header-height: 4rem;
.header {
  z-index: 999;
  position: fixed;
  top: 0;
  width: 100%;
}

.container {
  height: 100%;
  padding: 0 1.6rem;
}

.toggleMenuIcon {
  width: 1.4rem;
}

.logo {
  position: relative;
  top: -.15rem;
}

.toolBarWrapper, .selectBarWrapper {
  position: absolute;
  top: 0;
  width: 100%;
  height: $header-height;
}

.selectBarWrapper {
  z-index: 1000;
  top: -$header-height;
  opacity: 0;
  transition: top .2s linear,
              opacity .2s linear;

  .clearSelectionBtn {
    padding-right: 1.4rem;
  }

  &.selectBarWrapperShow  {
    top: 0;
    opacity: 1;
  }

  &.selectBarWrapperHide {
    top: -$header-height;
    opacity: 0;
  }
}

.toolbar, .selectBar {
  height: 100%;
}

.toolbar {
  background: #00D1B2;

  .contentLeft {
    flex-grow: 1;
  }
}

.selectBar {
  height: 100%;
  background: #fff;
}

.btnGroup {
  padding-left: 2.4rem;
}

.logoWrapper {
  padding-left: 1.8rem;
}

.searchWrapper {
  flex-grow: 1 !important;
  padding-left: 1.8rem;
  max-width: 40rem;

  > * {
    width: 100%;
  }
}
