$header-height: 4.5rem;

.header {
  z-index: 999;
  position: fixed;
  top: 0;
  width: 100%;
}

.container {
  padding: 0 1.6rem;
}

.logo {
  position: relative;
  top: -.15rem;
}

.toolbar, .selecting {
  position: absolute;
  top: 0;
  width: 100%;

  .inner {
    height: $header-height;
  }
}

.toolbar {
  background: #00D1B2;
}

.selecting {
  background: #fff;
  z-index: 1000;
  top: -$header-height;
  opacity: 0;
  transition: top .2s ease-out,
              opacity .2s ease-out;

  .isSelecting & {
    top: 0;
    opacity: 1;
  }

  .cancelSelectingBtn {
    padding-right: 1.4rem;
  }
}

.btnGroup {
  padding-left: 2.4rem;
}

.btnGroupItem:not(:last-child) {
  padding-right: 1.4rem;
}
