.wrapper {
  width: 24rem;
}

.cancel {
  margin-left: 2rem;
}


// appear/disappear animation
.fadeEnter {
  opacity: 0.01;
}

.fadeEnterActive {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.fadeExit {
  opacity: 1;
}

.fadeExitActive {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}
