.noteWrapper {
  margin-bottom: 2rem;

  &.isEditing {
    margin-bottom: 0;
  }
}

.pinnedNotesSection {
  margin-bottom: 1.8rem;
}


// dummy classes for ui unit tests
.notesFeed,
.notesGrid,
.notesList,
.sectionPinned,
.sectionUnpinned {
  visibility: normal;
}
