.inner {
  height: 1.6rem;
  width: 1.6rem;
  line-height: 100%;
  text-align: center;
}

.button {
  padding: 0;
  background: 0;
  border: 0;
  outline: 0;
  cursor: pointer;
  color: rgba(#000, .6);
  font-size: 1.2rem;
  transition: color .1s ease-out;

  &:hover {
    color: #000;
  }
}
