.inner {
  line-height: 1;
  text-align: center;
}

.button {
  line-height: 1;
  padding: 0;
  background: 0;
  border: 0;
  outline: 0;
  cursor: pointer;
  color: rgba(#000, .6);
  font-size: 1.2rem;
  transition: color .1s ease-out;

  &:hover {
    color: #000;
  }

  .alt & {
    color: #00D1B2;
  }
}
